<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<i class="fa fa-file-text fa-4x"></i>
			<h1 class="page-header">
				Word <small>: New</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="">Home/Word</a></li>
				<li class="active">New</li>
			</ol>
		</div>
	</div>
	
	<div class="row">
		<div class="well col-lg-12">
			<h4>Word Search:</h4>
			
			<div class="input-group">
				<input type="text" data-ng-model="pageFormData.searchText" class="form-control"/>
				
				<a class="btn btn-xs btn-primary" ng-click="search(pageFormData.searchText)"
				ng-if="!showAddNewWordSection">Search<span class="glyphicon glyphicon-search"></span>
			</a>
			</div>
			<!-- /input-group -->
			You are typing "{{pageFormData.lastSearchedWord}}" <br /> Number of filtered items:
			{{pageFormData.searchedItems.length}} <br />
			<p ng-hide="pageFormData.searchedItems.length">There is no result</p>
			<br />
			
			<a class="btn btn-xs btn-primary" ng-click="showSection(settings.sectionNames.AddNewWord)">Add New Word<i
				class="fa fa-angle-right"></i>
			</a>
			
			<a class="btn btn-xs btn-primary" ng-click="exportWordMgmt()">Export All word Data</a>
			
		</div>
	</div>

	
	
	<div class="row" ng-show="settings.showSearchedItemsData" >
		<div class="well col-lg-12">
		<!-- ng-repeat="templateWordData in pageFormData.searchedItems"  -->
			<div class="row" ng-style="stylesData.templateParentDescriptionStyle" 						
			ng-include="'templates/word-mgmt/wordData_item_renderer.html'">			               
            </div>		
		</div>
	</div>

	<div class="row">
		<div class="well col-lg-12">
			<b>Criteria</b>
			Get words order by <select name="" id=""></select> page size <input type="text" name="" id=""> 
			slideshow duration <input type="text" name="" id=""> <br>
			<a class="btn btn-xs btn-primary" ng-click="findPagedData()">Reload</a>
		</div>
	</div>
	
	<div class="row" ng-show="settings.showAllWordsInPagination">
		<div class="well col-lg-12">
			<a class="btn btn-xs btn-primary" ng-click="previous()"> <i
				class="fa fa-plus">previous</i>
			</a> <a class="btn btn-xs btn-primary" ng-click="next()"> <i
				class="fa fa-plus">next</i>
			</a>
			
			</a> <a class="btn btn-xs btn-primary" ng-click="reload()"> <i
				class="fa fa-plus">reload</i>
			</a>
			
			 <a class="btn btn-xs btn-primary" ng-if="!timerStarted"
				ng-click="slideShowStart()"><i class="fa fa-plus">Show
					slideshow</i></a> 
			<a class="btn btn-xs btn-primary" ng-if="timerStarted"
				ng-click="slideShowCancel()"><i class="fa fa-plus">Cancel
					slideshow</i></a> 
			<a class="btn btn-xs btn-primary"
				ng-click="showTopicsList()"> <i class="fa fa-plus">Show List</i>
			</a>
			
			<a class="btn btn-xs btn-primary"
				ng-click="findPagedData(-1)" ng-disabled="!pageFormData.pagedData.enablePrevButton"> <i class="fa fa-plus">PreviousPage</i>
			</a>
			
			<a class="btn btn-xs btn-primary"
				ng-click="findPagedData(1)" ng-disabled="!pageFormData.pagedData.enableNextButton"> <i class="fa fa-plus">NextPage</i>
			</a>
			
			<b>Page No: </b>{{pageFormData.pagedData.pageNo+1}} <b>&nbsp;&nbsp;&nbsp;&nbsp;Counter: </b>{{counterrr+1}} <b>&nbsp;&nbsp;&nbsp;&nbsp;Page Size: </b>{{pageFormData.pagedData.pageSize}}
		</div>
		
		<div class="col-lg-4 topicMgmtShowHideAnimation" ng-hide="!showList">
			<!-- <div
				data-ng-repeat="pagedDataItem in (filteredItems = (pageFormData.pagedData.items))">
				<div class="row">
					<div ng-class="{selectedWordRow: pagedDataItem.id === idSelectedVote}">
						<a data-ng-click="showAt($index)">
							<span ng-bind-html="pagedDataItem.word"/>
						</a>
					</div>
				</div>
			</div> -->

			<ul class="list-group list-group-scrolling">
                <li ng-repeat="pagedDataItem in (filteredItems = (pageFormData.pagedData.items))"
                    class="list-group-item text-center clearfix">
                    <div class="row">
						<div ng-class="{selectedWordRow: pagedDataItem.id === idSelectedVote}">
							<a data-ng-click="showAt($index)">
								<span ng-bind-html="pagedDataItem.word"/>
							</a>
						</div>
					</div>
                </li>
            </ul>
		</div>
		
		<div class="card col-lg-8">
			<div class="card-header">
			
				<!-- pageFormData.pagedData.selectedWordDataItem.wordReads : {{pageFormData.pagedData.selectedWordDataItem.wordReads}} -->
				<p>
					<small class="text-muted">
						<i class="fa fa-clock-o"></i> Last Modified on <b> <span
							ng-bind="pageFormData.pagedData.selectedWordDataItem.updated_on | date:'MMM/dd/yyyy hh:mm:ss a'"></span>
						</b>
					</small><br/>
				<!-- </p>
				<p> -->
					<small class="text-muted">
						<i class="fa fa-clock-o"></i> Created on <b> <span
							ng-bind="pageFormData.pagedData.selectedWordDataItem.created_on | date:'MMM/dd/yyyy hh:mm:ss a'"></span>
						</b>
					</small>

					<span class="badge">Total Reads :- {{pageFormData.pagedData.selectedWordDataItem.wordReads.count}}</span>
				</p>
				
				<b>Word :</b> <span ng-bind-html="pageFormData.pagedData.selectedWordDataItem.word"></span>
				<br/>
				<a class="btn btn-xs btn-primary" ng-click="updateWord(pageFormData.pagedData.selectedWordDataItem)">Edit<i
						class="fa fa-angle-right"></i>
				</a><br/>
				<a class="btn btn-xs btn-primary" ng-click="saveWordReads()" ng-show="isAlreadyReadToday">Mark
					as Read today <i class="fa fa-angle-right"></i>
				</a> <i class="fa fa-clock-o"></i> Last Read on <b><span
					ng-bind="pageFormData.pagedData.selectedWordDataItem.wordReads.word.last_read | date:'MMM/dd/yyyy hh:mm:ss a'"></span></b>
					<br>
				
				<div class="card-subtitle mb-2 text-muted">
					<small class="text-muted">
						<b>Unique Name :</b> <span ng-bind-html="pageFormData.pagedData.selectedWordDataItem.unique_name"></span>
					</small>
				</div>		
				
				<div class="card-subtitle mb-2 text-muted">
					<small class="text-muted">
						<b>Type :</b> <span ng-bind-html="pageFormData.pagedData.selectedWordDataItem.type"></span>
					</small>
				</div>
			</div>
			
			<div class="card-body">					
				<b>Details :</b>
				<blockquote class="card-text" style="font-size: smaller;">
					<span ng-bind-html="pageFormData.pagedData.selectedWordDataItem.details"></span>
				</blockquote>				
			</div>
			
			<div class="card-footer bg-transparent border-success">
				
			</div>
		</div>
		
		<!-- <div id="topicDetailsDiv" class="col-lg-8">
			<p>
				<i class="fa fa-clock-o"></i> Last Modified on <b> <span
					ng-bind="pageFormData.pagedData.selectedWordDataItem.updated_on | date:'MMM/dd/yyyy hh:mm:ss a'"></span>
				</b>
			</p>
			<p>
				<i class="fa fa-clock-o"></i> Created on <b> <span
					ng-bind="pageFormData.pagedData.selectedWordDataItem.created_on | date:'MMM/dd/yyyy hh:mm:ss a'"></span>
				</b>
			</p>
			
			<a class="btn btn-xs btn-primary" ng-click="updateWord(pageFormData.pagedData.selectedWordDataItem)">Edit<i
					class="fa fa-angle-right"></i>
			</a><br/>
			
			<b>Word :</b> <span ng-bind-html="pageFormData.pagedData.selectedWordDataItem.word"></span> <br />
			
			<b>Unique Name :</b> <span ng-bind-html="pageFormData.pagedData.selectedWordDataItem.unique_name"></span> <br />
			
			<b>Type :</b> <span ng-bind-html="pageFormData.pagedData.selectedWordDataItem.type"></span> <br />
			
			<b>Details :</b> <span ng-bind-html="pageFormData.pagedData.selectedWordDataItem.details"></span> <br />
			
			
		</div> -->
		
	</div>
	
	<div class="row" ng-show="settings.showAddNewWordSection">
		<div class="well col-lg-12">
			
			<div ng-style="stylesData.templateParentDescriptionStyle" 
			ng-include="'templates/word-mgmt/addWordData_item_renderer.html'">			               
            </div>
		</div>		
	</div>
	
	<div class="row" ng-show="settings.showEditWordSection">
		<div class="well col-lg-12">
			
			<div ng-style="stylesData.templateParentDescriptionStyle" 
			ng-include="'templates/word-mgmt/editWordData_item_renderer.html'">			               
            </div>
		</div>		
	</div>
	
	

</div>