<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<i class="fa fa-file-text fa-4x"></i>
			<h1 class="page-header">
				Word <small>: New</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="">Home/Word</a></li>
				<li class="active">New</li>
			</ol>
		</div>
	</div>
	
	<div class="row">
		<div class="well col-lg-12">
			<h4>Word Search:</h4>
			
			<div class="input-group">
				<input type="text" data-ng-model="pageFormData.searchText" class="form-control"/>
				
				<a class="btn btn-xs btn-primary" ng-click="search(pageFormData.searchText)"
				ng-if="!showAddNewWordSection">Search<span class="glyphicon glyphicon-search"></span>
			</a>
			</div>
			<!-- /input-group -->
			You are typing "{{pageFormData.lastSearchedWord}}" <br /> Number of filtered items:
			{{pageFormData.searchedItems.length}} <br />
			<p ng-hide="pageFormData.searchedItems.length">There is no result</p>
			<br />
			
			<a class="btn btn-xs btn-primary" ng-click="showSection(settings.sectionNames.AddNewWord)"
				ng-if="settings.showAddNewWordSection">Add New Word<i
				class="fa fa-angle-right"></i>
			</a>
			
		</div>
	</div>
	
	<div class="row">
		<div class="well col-lg-12">
			<div ng-style="stylesData.templateParentDescriptionStyle" 
			ng-repeat="templateWordData in pageFormData.searchedItems" 
			ng-show="{{settings.showSearchedItemsData}}" 
			ng-include="'templates/word-mgmt/wordData_item_renderer.html'">
			               
            </div>
		
		</div>
	</div>
	
	<div class="row">
		<div class="well col-lg-12">
			<!-- ng-repeat="templateWordData in pageFormData.searchedItems" -->
			<div ng-style="stylesData.templateParentDescriptionStyle" 			 
			ng-show="{{settings.showAddNewWordSection}}" 
			ng-include="'templates/word-mgmt/addWordData_item_renderer.html'">
			               
            </div>
		</div>
	</div>

</div>