<!-- <form class="form-horizontal" ng-submit="submitStudnetForm()">
	<div class="form-group">
		<label for="firstName" class="col-sm-3 control-label">First Name</label>
		<div class="col-sm-6">
            <input type="text" id="word" class="form-control" ng-model="pageFormData.templateAddWordData.word" />
        </div>
	</div>
</form> -->		
		
			
			
			
			<div>
				<b>Unique Name :</b> 
			</div>
			
			
			<div >
				<input type="text" ng-model="pageFormData.templateAddWordData.unique_name"/>
			</div>
			
			
			
			<div>
				<b>Word :</b> 
			</div>
			
			
			<div >
				<input type="text" ng-model="pageFormData.templateAddWordData.word"/>
			</div>		
		
		
		
			<div >
				<b>Type :</b> 
			</div>
			
			
			<div >
				<!-- <input type="text" ng-model="pageFormData.templateAddWordData.type"/> -->
				<select ng-model="pageFormData.templateAddWordData.type">
			        <option value="">--Select --</option>
			        <option ng-repeat="sel in settings.wordTypes" ng-selected="pageFormData.templateAddWordData.type == sel" value="{{sel}}">{{sel}}</option>
			    </select>
			</div>	
			
			<div>
				<b>Description :</b>
			</div>	
			
			<div >
				<trix-editor angular-trix ng-model="pageFormData.templateAddWordData.details"></trix-editor> 
			</div>
		
		