<div class="row" ng-style="stylesData.templateSearchedWordDataDescriptionStyle">

<b>Word:</b>  <span ng-bind-html="templateWordData.word" />
<b>Type:</b>  <span ng-bind-html="templateWordData.type" />
<b>Unique Name:</b>  <span ng-bind-html="templateWordData.unique_name" />
<b>Details:</b>  <span ng-bind-html="templateWordData.details" />
<b>Created On:</b>  <span ng-bind-html="templateWordData.created_on" />
<b>Updated On:</b>  <span ng-bind-html="templateWordData.updated_on" />
<b>Last Read:</b>  <span ng-bind-html="templateWordData.last_read" />

<!-- {{templateWordData|json}} -->



</div> 
