<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-calendar-check-o"></i> Premendra Kumar</h3>
                        <div class="row">
                            <div class="col-lg-6 pull-left text-left">
                                <p>
                                    Sec 55 <br>
                                    Faridabad, Haryana-121004 <br>
                                    Mobile : +91-8010645624, +91-8750084750
                                </p>

                            </div>
                            <div class="col-lg-6 pull-right text-right">
                                <p>
                                    Premendra.bce05515@gmail.com <br>
                                    Premendra.bce05515@outlook.com
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <p><b>Experience</b></p>

                        <div class="well">
                            <p><b style="text-transform: uppercase">Senior Software engineer , Indiabulls security Ltd
                                    (formerly Indiabulls ventures
                                    ltd)</b></p>
                            <p><b>Sep 2019 to Present</b></p>
                            <p>Current major responsibility for Development in “ShubhWeb” application. Technologies used
                                are Java/J2EE, Spring Boot,Spring Batch,Spring REST, Hibernate, Oracle 12g, ReactJS,
                                BootStrap.</p>
                            <p>
                                Current Role and Responsibilities
                            <ul>
                                <li>Notis API , KRA, SFTP projects. These are Inhouse applications.</li>
                                <li>Added code for new requirements.</li>
                                <li>Fixed bugs identified by support team</li>
                                <li>Migrated code from SVN to GITLab Server (Hosted in company premises)</li>
                                <li>Worked with the vendor and project management team on a code change and new fix in
                                    upcoming Release. This resulted in increased efficiency in batch processing with no
                                    errors or transmissions missed and thus reduced the number of incidents.</li>
                                <li>Did Jenkins configuration for continuous deployment</li>
                            </ul>
                            </p>
                        </div>
                        <!-- /.well -->

                        <div class="well">
                            <p><b style="text-transform: uppercase">Assistant Manager , IT applications, Concentrix</b>
                            </p>
                            <p><b>Nov 2017 to Sep 2019</b></p>
                            <p>Current major responsibility for Development in “Global Incentive Program(GIP)”
                                application. Technologies used are Java/J2EE, Spring Boot, Hibernate, MySQL, AngularJS,
                                BootStrap</p>
                            <p>
                                Current Role and Responsibilities
                            <ul>
                                <li>Gain Manager and Resolve Jiffy. (Worked as L2/L3 support Engineer with software
                                    development Team). These are Inhouse applications.</li>
                                <li>Provided L2/L3 level support to GM and RJ application.</li>
                                <li>Updated and create incident management tickets in the ticket tracking application
                                </li>
                                <li>Identified defects within GM and RJ application</li>
                                <li>Worked with the vendor and project management team on a code change and new fix in
                                    upcoming Release. This resulted in increased efficiency in batch processing with no
                                    errors or transmissions missed and thus reduced the number of incidents.</li>
                                <li>Create, monitor and update defects in Jira</li>
                                <li>Wrote and executed SQL queries for reporting and research purposes.</li>
                                <li>Provided support for the successful deployment of multiple iterations of the GM and
                                    RJ application</li>
                            </ul>
                            </p>
                        </div>
                        <!-- /.well -->

                        <div class="well">
                            <p><b style="text-transform: uppercase">Senior Software Engineer, Accenture </b></p>
                            <p><b>Mar 2017 to July 2017</b></p>
                            <p>Current major responsibility for Development in ZVR4 application. Technologies used
                                are Java/J2EE, Spring Boot,Spring Batch,Spring REST, Hibernate, Oracle 12g, AngularJS,
                                BootStrap.</p>
                            <p>
                                Current Role and Responsibilities
                            <ul>
                                <li>Worked on Data Migration project with Talend tool and java API (Spring Batch,
                                    multithreading) for project ZVR4.</li>
                                <li>Worked to write Java code to parallel process the blob data of table of legacy
                                    database and save to target database. </li>
                            </ul>
                            </p>
                        </div>
                        <!-- /.well -->

                        <div class="well">
                            <p><b style="text-transform: uppercase">Senior Software engineer , Indiabulls security Ltd
                                    (formerly Indiabulls ventures
                                    ltd)</b></p>
                            <p><b>Sep 2019 to Present</b></p>
                            <p>Current major responsibility for Development in “ShubhWeb” application. Technologies used
                                are Java/J2EE, Spring Boot,Spring Batch,Spring REST, Hibernate, Oracle 12g, ReactJS,
                                BootStrap.</p>
                            <p>
                                Current Role and Responsibilities
                            <ul>
                                <li>Notis API , KRA, SFTP projects. These are Inhouse applications.</li>
                                <li>Added code for new requirements.</li>
                                <li>Fixed bugs identified by support team</li>
                                <li>Migrated code from SVN to GITLab Server (Hosted in company premises)</li>
                                <li>Worked with the vendor and project management team on a code change and new fix in
                                    upcoming Release. This resulted in increased efficiency in batch processing with no
                                    errors or transmissions missed and thus reduced the number of incidents.</li>
                                <li>Did Jenkins configuration for continuous deployment</li>
                            </ul>
                            </p>
                        </div>
                        <!-- /.well -->

                        <div class="well">
                            <p><b style="text-transform: uppercase">Senior Software engineer , Indiabulls security Ltd
                                    (formerly Indiabulls ventures
                                    ltd)</b></p>
                            <p><b>Sep 2019 to Present</b></p>
                            <p>Current major responsibility for Development in “ShubhWeb” application. Technologies used
                                are Java/J2EE, Spring Boot,Spring Batch,Spring REST, Hibernate, Oracle 12g, ReactJS,
                                BootStrap.</p>
                            <p>
                                Current Role and Responsibilities
                            <ul>
                                <li>Notis API , KRA, SFTP projects. These are Inhouse applications.</li>
                                <li>Added code for new requirements.</li>
                                <li>Fixed bugs identified by support team</li>
                                <li>Migrated code from SVN to GITLab Server (Hosted in company premises)</li>
                                <li>Worked with the vendor and project management team on a code change and new fix in
                                    upcoming Release. This resulted in increased efficiency in batch processing with no
                                    errors or transmissions missed and thus reduced the number of incidents.</li>
                                <li>Did Jenkins configuration for continuous deployment</li>
                            </ul>
                            </p>
                        </div>
                        <!-- /.well -->

                        <div class="well">
                            <p><b style="text-transform: uppercase">Senior Software engineer , Indiabulls security Ltd
                                    (formerly Indiabulls ventures
                                    ltd)</b></p>
                            <p><b>Sep 2019 to Present</b></p>
                            <p>Current major responsibility for Development in “ShubhWeb” application. Technologies used
                                are Java/J2EE, Spring Boot,Spring Batch,Spring REST, Hibernate, Oracle 12g, ReactJS,
                                BootStrap.</p>
                            <p>
                                Current Role and Responsibilities
                            <ul>
                                <li>Notis API , KRA, SFTP projects. These are Inhouse applications.</li>
                                <li>Added code for new requirements.</li>
                                <li>Fixed bugs identified by support team</li>
                                <li>Migrated code from SVN to GITLab Server (Hosted in company premises)</li>
                                <li>Worked with the vendor and project management team on a code change and new fix in
                                    upcoming Release. This resulted in increased efficiency in batch processing with no
                                    errors or transmissions missed and thus reduced the number of incidents.</li>
                                <li>Did Jenkins configuration for continuous deployment</li>
                            </ul>
                            </p>
                        </div>
                        <!-- /.well -->


                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->
        </div>
    </div>
</div>