<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <i class="fa fa-calendar-plus-o fa-4x"></i>
            <h1 class="page-header">
                Event & Event-Group Logging <small>: Home</small>
                <!-- <span star-rating rating-value="topic.rating"
				edit-star-rating="false" max="maxRatingValue"></span> -->
            </h1>
            <ol class="breadcrumb">
                <li><a href="">Home/Event & Event-Group Logging</a></li>
                <li class="active">Home</li>
            </ol>
        </div>
    </div>
    <!-- /.header-section -->

    <div class="row">
        <div id="idDivEventGroupList" class="col-lg-4">
            <h2><b>Event Groups</b></h2>
            <a style="margin-bottom: 10px;" class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-plus"></span>
                Add</a>

            <ul class="list-group">
                <li ng-repeat="eventGroupItem in eventGroupListItems | orderBy: 'date'"
                    class="list-group-item text-center clearfix">
                    <span style="font-weight: bold">{{eventGroupItem.name | uppercase}}</span>
                    <a href="#/addItem/edit/{{eventGroupItem.id}}" class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.idDivEventGroupList -->

        <div id="idDivEventList" class="col-lg-4">
            <h2><b>Events</b></h2>
            <a style="margin-bottom: 10px;" class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-plus"></span>
                Add</a>

            <ul class="list-group">
                <li ng-repeat="eventItem in eventListItems | orderBy: 'date'"
                    class="list-group-item text-center clearfix">
                    <span style="font-weight: bold">{{eventItem.name | uppercase}}</span>
                    <a href="#/addItem/edit/{{eventItem.id}}" class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.idDivEventList -->

        <div id="idDivEventDescription" class="col-lg-4">
            <h2><b>Event Description</b></h2>

        </div>
        <!-- /.idDivEventDescription -->
    </div>

</div>